@import '../../variables.scss';

.weather-box
{
    max-width: 60%;
    margin: auto;
    text-align: center;

    h3
    {
        margin-bottom: 40px;
        
        .city
        {
            font-weight: 400;
            font-size: 50px;
            display: block;
            margin-bottom: 5px;
        }

        .country
        {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .weather-data
    {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .temparature
        {
            padding-top: 10px;
        }

        .actual-temp
        {
            font-size: 60px;
            margin-bottom: 10px;
        }

        .feels-like
        {
            font-size: 16px;
        }

        .icon-label
        {
            font-size: 20px;
        }

        .icon-img img
        {
            width: 100px;
        }
    }

    .key-value-row
    {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $borderGrey;
        padding: 15px 0px;
        font-size: 18px;
        align-items: center;

        .wicon
        {
            font-size: 30px;
            position: relative;
            top: 10px;
            margin-right: 5px;
        }
    }

    .timeof-record
    {
        margin-top: 20px;
        display: block;
    }

    .units
    {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;

        button
        {
            cursor: pointer;
            font-size: 15px;
            font-weight: 400;
            padding:5px 10px;
        }
    }

    &.error
    {
        font-size: 30px;
        font-weight: 300;
        color: $warningOrange;
    }
}

@media only screen and (max-width: 450px) {
    .search-button
    {
        display: none;
    }

    .searchbar
    {
        grid-template-columns: unset;
    }

    .search-field
    {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        width: 90%;
    }

    .weather-box
    {
        .weather-data
        {
            grid-template-columns: unset;
            grid-template-rows: 1fr 1fr;
        }

        .key-value-row
        {
            flex-direction: column;

            .wicon
            {
                display: block;
                margin-right: 0px;
                margin-bottom: 15px;
                left: 10px;
            }

            .value
            {
                margin-top: 15px;
                font-size: 25px;
            }
        }
    }

}