.logo
{
    background: url('../../assets/logo.png') no-repeat;
    width: 290px;
    height: 105px;
    background-size: cover;
    margin: auto;
}

@media only screen and (max-width: 450px) {
    .logo
    {
        background: url('../../assets/icon.png') no-repeat;
        width: 95px;
        height: 95px;
        background-size: cover;
        margin: auto;
    }

}